.advantages-list {
  @include list-reset;
}

.advantages-list__item {
  background-color: $bg-darkerlightgrey;
  padding: 28px 37px 29px;
  box-sizing: border-box;

  &:first-child,
  &:nth-child(2) {
    padding: 0;
  }
}

.advantages-list__header,
.advantages-list__number,
.advantages-list__description {
  margin: 0;
}

.advantages-list__header {
  margin-bottom: 8px;

  @include font-for-headers;
}

.advantages-list__number {
  margin-bottom: 15px;
}

.advantages-list__description {
  margin-top: 14px;
}

.advantages-list__detailed {
  background-color: $bg-seagull;
  color: $bg-white;
  padding: 57px 20px 300px;
  background-repeat: no-repeat;
  background-position: bottom;

  &--city {
    background-image: url("../img/main-city-mobile@1x.jpg");
  }

  &--devil {
    padding-top: 39px;
    background-image: url("../img/main-bridge-mobile@1x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list__item {
    width: 33.3%;
    padding: 45px 50px;

    &:first-child,
    &:nth-child(2) {
      padding: 0;
      width: 100%;
    }

    &:nth-child(3) {
      padding: 45px;
    }
  }

  .advantages-list__header {
    margin-bottom: 10px;

    @include catch-font;
  }

  .advantages-list__description {
    margin-top: 23px;
  }

  .advantages-list__detailed {
    padding: 44px 560px 44px 45px;

    &--city {
      background-image: url("../img/main-city-tablet@1x.jpg");
      background-position: center right;
    }

    &--devil {
      padding: 44px 45px 44px 560px;
      background-image: url("../img/main-bridge-tablet@1x.jpg");
      background-position: center left;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages-list__item {
    padding-top: 44px;
    padding-bottom: 65px;
  }

  .advantages-list__item > .advantages-list__header {
    margin-left: 80px;
    margin-right: 80px;
  }

  .advantages-list__detailed {
    padding: 52px 867px 58px 68px;

    &--city {
      background-image: url("../img/main-city-desktop@1x.jpg");
      background-position: center right;
    }

    &--devil {
      padding: 52px 85px 58px 885px;
      background-image: url("../img/main-bridge-desktop@1x.jpg");
      background-position: center left;
    }
  }

  .advantages-list__detailed > .advantages-list__header {
    margin-left: 30px;
    margin-right: 30px;
  }
}
