.content__header,
.content__author,
.content__like-number {
  margin: 0;
  font-weight: 700;
}

.content__header {
  margin-top: 7px;
}

.content__author {
  margin-top: 1px;
  margin-bottom: 8px;
  font-weight: 400;
  text-transform: none;
}

.content__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content__like-btn {
  height: 22px;
  width: 22px;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-right: 15px;
}

.content__like {
  fill: $bg-black;
  fill-opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .content:first-of-type {
    text-align: center;
    width: 100%;
  }

  .content__wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-lightgrey;
    padding: 7px 30px 9px 20px;

    &--main-photo {
      padding-right: 20px;
    }

    &--photo {
      padding-right: 37px;
    }
  }

  .content__header,
  .content__author {
    line-height: 24px;
    text-align: left;
  }

  .content__like-btn {
    margin-top: 5px;
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .content {
    position: relative;
    color: $bg-white;
  }

  .content__wrapper {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    bottom: 0;
    right: 0;
  }

  .content__like {
    fill: $bg-white;
    fill-opacity: 1;
  }
}
