.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11px;
  line-height: 0;
}

.copyright__developed {
  margin: 0;
}

.copyright__developed-by {
  display: block;

  &:hover > .copyright__logo {
    fill: $bg-seagull;
  }

  &:active > .copyright__logo {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    justify-content: flex-end;
  }

  .copyright__developed-by {
    margin-left: 13px;
  }
}
