.feedback-form {
  @include font-for-headers;
  border-top: 1px solid $border-whisper;
}

.feedback-form__fieldset {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0 22px 3px 19px;
  border-bottom: 1px solid $border-whisper;

  &:last-of-type {
    border: none;
  }

  &--contacts {
    padding-bottom: 22px;
  }
}

.feedback-form__hint {
  display: none;
}

.feedback-form__legend {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.feedback-form__list {
  @include list-reset;
  margin-top: 65px;
  text-align: left;

  &--contacts {
    margin-top: 58px;
  }

  &--feelings {
    margin-top: 62px;
    margin-bottom: 20px;
  }

  &--visited {
    margin-top: 79px;
    margin-bottom: 17px;
  }
}

.feedback-form__item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 21px;

  &--feelings {
    margin-bottom: 0;
  }

  &--visited {
    margin-bottom: 13px;
  }

  &--contacts {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:last-child {
      &::after {
        background-image: url("../img/icon-mail.svg");
      }
    }
  }
}

.feedback-form__list--contacts > .feedback-form__item {
  margin-bottom: 6px;
}

.feedback-form__label {
  text-transform: none;

  &--contacts {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 16px;
  }

  &--connection {
    margin: 0;
    margin-bottom: 8px;
    margin-left: 21px;
  }

  &--radio,
  &--checkbox {
    position: relative;
    padding: 21px 0 21px 79px;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 55px;
      width: 55px;
      background-color: $bg-lightgrey;
      border-radius: 50%;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      box-sizing: border-box;
      top: 50%;
      transform: translateY(-50%);
      left: 17px;
      height: 22px;
      width: 22px;
      background-color: #333333;
      border-radius: 50%;
    }
  }

  &--checkbox {
    &::before {
      border-radius: 3px;
    }

    &::after {
      content: "";
      height: 16px;
      width: 23px;
      background-color: transparent;
      background-image: url("../img/icon-tick.svg");
      background-position: center;
    }
  }
}

.feedback-form__radio:hover + .feedback-form__label--radio::before,
.feedback-form__checkbox:hover + .feedback-form__label--checkbox::before {
  background-color: $border-whisper;
}

.feedback-form__radio:checked + .feedback-form__label--radio::after,
.feedback-form__checkbox:checked + .feedback-form__label--checkbox::after {
  display: block;
}

.feedback-form__radio:disabled + .feedback-form__label--radio,
.feedback-form__checkbox:disabled + .feedback-form__label--checkbox {
  &::before {
    background-color: #d5d5d5;
  }

  &::after {
    opacity: 0.3;
  }
}

.feedback-form__type-input {
  flex-grow: 1;
  background-color: $bg-lightgrey;
  box-sizing: border-box;
  font-family: inherit;

  @include font-for-headers;
  border: none;
  height: 58px;
  width: 150px;
  padding-left: 22px;

  &--long {
    height: auto;
    padding: 16px 22px;
    margin-top: 61px;
    width: 100%;
  }

  &--long:focus {
    padding: 12px 18px;
  }

  &:hover {
    background-color: $border-whisper;
  }

  &:focus {
    background-color: transparent;
    border: 4px solid $border-whisper;
    padding-left: 18px;
  }
}

.feedback-form__btn {
  @include catch-font;
  font-family: inherit;
  text-transform: inherit;
  color: $bg-white;
  border: 0;
  background-color: $bg-seagull;
  padding: 16px;
  box-sizing: border-box;
  min-width: 280px;
  margin-top: 41px;

  &:hover {
    background-color: $bg-hover-cerulean-frost;
  }

  &:active {
    color: $active-btn-white;
    background-color: $bg-active-shakespeare;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding-top: 3px;
  }

  .feedback-form__fieldset {
    padding: 0;
    border: none;

    &--feelings {
      position: relative;
      order: 1;
      width: 50%;

      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        background-color: #dbdbdb;
        right: 0;
        top: 0;
      }
    }

    &--name {
      order: 2;
      margin-left: 57px;
      flex-grow: 1;
    }

    &--contacts {
      order: 3;
      width: 100%;
    }

    &--visited {
      order: 4;
      width: 100%;
    }

    &--emotions {
      order: 5;
      width: 100%;
    }
  }

  .feedback-form__btn {
    order: 6;
    width: 50%;
    margin-top: 51px;
  }

  .feedback-form__legend {
    margin-top: 48px;
    font-size: 21px;
    padding: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 50%;
      transform: translateY(-50%);
      width: 125px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &--name,
    &--feelings {
      margin: 0;
      left: 0;
      transform: none;
      width: auto;

      &::before,
      &::after {
        display: none;
      }
    }

    &--visited {
      margin-top: 33px;
      padding: 0 190px;
    }
  }

  .feedback-form__list {
    margin-top: 84px;

    &--contacts {
      margin-top: 92px;
    }

    &--visited {
      display: flex;
      flex-wrap: wrap;
      padding: 0 70px 0 95px;
      margin-top: 121px;
      margin-bottom: 15px;
    }

    &--feelings {
      margin-top: 80px;
      margin-bottom: 0;
    }
  }

  .feedback-form__item {
    &--feelings {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--visited {
      margin-bottom: 20px;
    }

    &--visited:first-child {
      margin-right: 70px;
    }

    &--visited:nth-child(3) {
      margin-right: 90px;
      margin-bottom: 0;
    }

    &--visited:last-child {
      margin-bottom: 0;
    }
  }

  .feedback-form__label {
    &--connection {
      width: 100%;
    }

    &--radio {
      padding-left: 75px;
    }
  }

  .feedback-form__list--contacts > .feedback-form__item {
    margin-bottom: 18px;
  }

  .feedback-form__type-input--long {
    margin-top: 133px;
  }

  .feedback-form__hint {
    display: block;
    order: 7;
    margin: 0;
    width: 50%;
    text-align: right;
    margin-left: auto;
    padding: 18px 0 16px;
    box-sizing: border-box;
    min-width: 280px;
    margin-top: 51px;
    font-size: 14px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__legend--feelings {
    padding-left: 80px;
  }

  .feedback-form__fieldset {
    &--name {
      margin-left: 80px;
    }
  }

  .feedback-form__legend--contacts {
    margin-top: 45px;
  }

  .feedback-form__list {
    &--contacts {
      display: flex;
      justify-content: space-between;
      margin-top: 143px;
    }

    &--feelings {
      padding-left: 4px;
    }

    &--visited {
      padding: 0;
      margin-top: 122px;
      margin-bottom: 13px;
      justify-content: space-between;
    }
  }

  .feedback-form__list--contacts .feedback-form__item {
    min-width: 400px;

    &:last-child {
      min-width: 480px;
    }
  }

  .feedback-form__label {
    &--connection {
      margin: 0;
      margin-right: 17px;
      width: auto;
    }
  }

  .feedback-form__auxiliary {
    display: none;
  }

  .feedback-form__legend {
    &--visited {
      margin-top: 34px;
      padding: 0 290px;
    }

    &::before,
    &::after {
      width: 280px;
    }
  }

  .feedback-form__item--visited {
    margin: 0;

    &:first-child,
    &:nth-child(3) {
      margin: 0;
    }
  }
}
