.hero {
  position: relative;
  line-height: 0;
  box-sizing: border-box;
  background-color: $bg-greyblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  &--index {
    background-size: cover;
    background-position: center;
    padding: 87px 20px;
  }

  &--interior {
    background-repeat: no-repeat;
    background-size: 780px;
    background-position: -230px -235px;
    padding: 53px 46px 68px;
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 27px;
    width: 100%;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &--index {
      background-size: cover;
      background-position: center;
      padding: 77px 0 91px;
    }

    &--interior {
      background-size: cover;
      background-position: 0 -228px;
      padding: 97px 0 118px;
    }

    &::after {
      height: 57px;
      bottom: -1px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &--interior {
      background-position: 0 -217px;
      padding: 105px 0 120px;
    }

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
}
