.hero {
  line-height: 0;
  box-sizing: border-box;
  background-color: $bg-greyblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  &--index {
    background-size: cover;
    background-position: center;
    padding: 87px 20px;
  }

  &--interior {
    background-repeat: no-repeat;
    background-size: 780px;
    background-position: -230px -235px;
    padding: 53px 46px 68px;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &--index {
      background-size: cover;
      background-position: center;
      padding: 77px 0 91px;
    }

    &--interior {
      background-size: cover;
      background-position: 0 -228px;
      padding: 97px 0 118px;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &--interior {
      background-position: 0 -217px;
      padding: 105px 0 120px;
    }
  }
}
