.hero {
  position: relative;
  line-height: 0;
  box-sizing: border-box;
  background-color: $bg-greyblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 26px;
    width: 100%;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &--index {
    background-size: cover;
    background-position: center;
    padding: 90px 20px 84px 19px;
  }

  &--interior {
    background-repeat: no-repeat;
    background-size: 780px;
    background-position: -230px -235px;
    padding: 51px 46px 67px 45px;

    &:after {
      bottom: -1px;
    }
  }
}

.hero__image {
  width: 282px;
  height: 214px;

  &--interior {
    width: 230px;
    height: 40px;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &::after {
      height: 57px;
      bottom: 0;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    &--index {
      background-size: cover;
      background-position: center;
      padding: 79px 0 89px;
    }

    &--interior {
      background-size: cover;
      background-position: 0 -228px;
      padding: 95px 0 115px;
    }
  }

  .hero__image {
    width: 460px;
    height: 350px;

    &--interior {
      width: 460px;
      height: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--interior {
      background-position: 0 -217px;
      padding: 100px 0 120px;
    }

    &::after {
      height: 56px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
}
