.hotel-search {
  padding: 27px 20px 49px;

  &__interested {
    @include catch-font;
    margin: 0;
  }

  &__description {
    line-height: 24px;
    margin-top: 22px;
    margin-bottom: 33px;
  }

  &__btn {
    @include catch-font;
    font-family: inherit;
    text-transform: inherit;
    color: #ffffff;
    border: 0;
    background-color: #81b3d2;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
  }
}
