.hotel-search {
  padding: 27px 20px 49px;
}

.hotel-search__interested {
  @include catch-font;
  margin: 0;
}

.hotel-search__description {
  line-height: 24px;
  margin-top: 22px;
  margin-bottom: 33px;
}

.hotel-search__btn {
  @include catch-font;
  font-family: inherit;
  text-transform: inherit;
  color: $bg-white;
  border: 0;
  background-color: $bg-seagull;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    background-color: $bg-hover-cerulean-frost;
  }

  &:active {
    color: $active-btn-white;
    background-color: $bg-active-shakespeare;
  }

  &:disabled {
    background-color: $border-whisper;
  }
}

@media (min-width: $tablet-width) {
  .hotel-search {
    padding: 55px 155px 59px;
  }

  .hotel-search__interested {
    font-size: 30px;
  }

  .hotel-search__description {
    margin-top: 30px;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search {
    padding: 55px 371px 65px;
  }

  .hotel-search__description {
    margin-top: 31px;
    margin-bottom: 47px;
  }
}
