.more-advantages {
  @include list-reset;
  text-align: left;
  background-color: $bg-white;
}

.more-advantages__item {
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 71px;
  padding-right: 25px;

  &--lodgement {
    padding-top: 35px;
  }

  &--cuisine {
    padding-bottom: 37px;
  }
}

.more-advantages__icons {
  position: absolute;
  fill: $bg-seagull;
  height: 37px;
  width: 32px;
  left: 25px;
  top: 19px;

  &--lodgement {
    left: 22px;
    top: 27px;
    width: 37px;
  }

  &--cuisine {
    left: 19px;
    top: 24px;
    width: 38px;
    height: 35px;
  }
}

@media (min-width: $tablet-width) {
  .more-advantages {
    display: flex;
  }

  .more-advantages__item {
    text-align: center;
    vertical-align: middle;
    padding: 159px 45px 61px;
    width: 256px;

    &--cuisine {
      order: 2;
    }

    &--souvenirs {
      order: 3;
    }
  }

  .more-advantages__icons {
    position: absolute;
    fill: $bg-seagull;
    height: 75px;
    width: 64px;
    left: 50%;
    transform: translateX(-50%);
    top: 57px;

    &--lodgement {
      top: 63px;
      width: 75px;
      height: 72px;
    }

    &--cuisine {
      top: 63px;
      width: 77px;
      height: 68px;
    }
  }
}

@media (min-width: $desktop-width) {
  .more-advantages__item {
    padding: 158px 50px 82px;
    width: 400px;
  }

  .more-advantages__icons--lodgement {
    top: 61px;
  }

  .more-advantages__item--souvenirs > .advantages-list__description {
    margin-left: 20px;
    margin-right: 20px;
  }
}
