.page-footer {
  box-sizing: border-box;
  border-top: 1px solid transparent;
  background-color: $bg-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 34px 85px;
}

.page-footer__hashtag {
  margin: 0;

  @include catch-font;
}

.page-footer__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    padding: 40px 60px 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
