.page-nav {
  margin: 0;
  color: $bg-white;

  @include font-in-nav;

  &--closed {
    display: none;
  }

  &--no-js {
    display: block;
  }
}

.page-nav__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .page-nav {
    color: $bg-black;

    font-size: 14px;
    line-height: 26px;
  }
}
