.popup {
  display: none;
  position: absolute;
  bottom: 400px;
  box-shadow: 0px 5px 12px 0 rgba(0, 1, 1, 0.2);
  background-color: $bg-white;
  box-sizing: border-box;
  padding: 45px 0 35px;
  line-height: 24px;

  &--failed {
    display: none;
  }

  &--success {
    display: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    bottom: 200px;
  }
}

.popup__header {
  margin: 0;
}

.popup__description {
  margin: 40px 45px 31px;
}

.popup__btn {
  @include font-for-headers;
  font-family: inherit;
  text-transform: inherit;
  color: $bg-white;
  border: 0;
  background-color: $bg-seagull;
  padding: 16px;
  box-sizing: border-box;
  min-width: 180px;

  &--success {
    width: 100%;
    border: 20px solid $bg-lightgrey;
  }

  &:hover {
    background-color: $bg-hover-cerulean-frost;
  }

  &:active {
    color: $active-btn-white;
    background-color: $bg-active-shakespeare;
  }
}

@media (min-width: $tablet-width) {
  .popup {
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px 60px 35px;

    &--success {
      width: 648px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      bottom: 200px;
    }
  }

  .popup__header {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__description {
    margin: 40px 0 31px;
  }

  .popup__btn {
    width: 100%;

    &--success {
      border: 45px solid $bg-lightgrey;
      border-left: 85px solid $bg-lightgrey;
      border-right: 85px solid $bg-lightgrey;
    }
  }
}
