.social-list {
  margin: 38px 0 38px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list__item {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;

  background-color: $bg-seagull;

  &:hover {
    background-color: $bg-hover-cerulean-frost;
  }

  &:active {
    background-color: $bg-active-shakespeare;

    & .social-list__icons {
      fill-opacity: 0.3;
    }
  }

  .social-list__icons {
    position: absolute;
    fill: $bg-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
    width: 151px;
    margin-right: 6px;
  }
}
