.video-section {
  box-sizing: border-box;
  padding: 30px 0 37px;
}

.video-section__header,
.video-section__description {
  margin: 0;
  line-height: 24px;
}

.video-section__header {
  @include font-for-headers;
  margin-bottom: 28px;
}

.video-section__description {
  margin: 0 42px 35px;
}

.video-section__video {
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .video-section {
    padding: 65px 60px 41px;
  }

  .video-section__header {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .video-section__description {
    margin: 0 105px 73px;
  }
}

@media (min-width: $desktop-width) {
  .video-section {
    padding: 70px 200px 85px;
  }

  .video-section__description {
    margin: 0 185px 70px;
  }
}
