body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: $bg-lightgrey;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-wrapper {
  width: 320px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-color: $bg-white;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

@media (min-width: $tablet-width) {
  .page-wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    width: 1200px;
    box-shadow: 0 5px 12px 0 rgba(0, 1, 1, 0.2);
  }
}
