$bg-body-color: #f2f2f2;
$bg-pic-color: #334955;
$bg-main-color: #ffffff;
$bg-adv-color: #eeeeee;
$bg-btn-color: #81b3d2;
$bg-hover-btn-color: #669ec0;
$bg-active-btn-color: #5496bd;
$hover-btn-color: rgba(255, 255, 255, 0.6);
$active-btn-color: rgba(255, 255, 255, 0.3);
$border-color: #e5e5e5;
$box-sh-hover: rgba(129, 179, 210, 0.6);
$box-sh-active: rgba(129, 179, 210, 0.3);
