$bg-lightgrey: #f2f2f2;
$bg-greyblue: #334955;
$bg-white: #ffffff;
$bg-black: #000000;
$bg-darkerlightgrey: #eeeeee;
$bg-seagull: #81b3d2;
$bg-hover-cerulean-frost: #669ec0;
$bg-active-shakespeare: #5496bd;
$hover-btn-white: rgba(255, 255, 255, 0.6);
$active-btn-white: rgba(255, 255, 255, 0.3);
$bdr-whisper: #e5e5e5;
$hover-greyblue: rgba(129, 179, 210, 0.6);
$active-greyblue: rgba(129, 179, 210, 0.3);

$tablet-width: 768px;
$desktop-width: 1200px;
